<h1>Listing profiles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Standard</th>
    <th>Section</th>
    <th>Rollno</th>
    <th>Subject</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.name %></td>
    <td><%= profile.standard %></td>
    <td><%= profile.section %></td>
    <td><%= profile.rollno %></td>
    <td><%= profile.subject %></td>
    <td><%= link_to 'Show', profile %></td>
    <% if can? :update, @profile %>	
      <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <% end %>
    <% if can? :destroy, @profile %>
      <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile', new_profile_path %>
